@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #191718;
  --background-end-rgb: #1d3b4f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: #191718;
    --background-end-rgb: #1d3b4f;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #154699;
  min-height: 100vh;
  /* background-size: 400% 400%; */
  /* animation: gradient 10s ease infinite; */
}

/* @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
